.subpagecontainter {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.subpagecontainter>div {
    font-size: 4vh;
    color: white;
    background: gray;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
}