.subpagecontainter {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.subpagecontainter>div {
    font-size: 4vh;
    color: white;
    background: gray;
    margin: .5em;
    padding: .5em;
    border-radius: 3px;
    flex: 1;
}

.menu-randrahnude-navigatsioon-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    flex-wrap: nowrap;
}
.myNavList {
    font-size: 4vh;
    color: white;
    background: gray;
    margin: .5em;
    padding: .5em;
    border-radius: 3px;
    flex: 1;
}